/* Общий сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #121212;
    color: #e0e0e0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    overflow: hidden;
}

/* Заголовок и слоган */
.header {
    text-align: center;
    margin-top: 10px;
}

.title {
    font-size: 2.5rem;
    color: whitesmoke;
}

.slogan {
    font-size: 1.2rem;
    color: whitesmoke;
    margin-top: 5px;
}

/* Основной блок с видео */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    border-radius: 8px;
}

#myCanvas {
    width: 70%;
    height: auto; /* Автоадаптация по высоте */
    border: 2px solid whitesmoke;
    background-color: #000;
    border-radius: 20px;
}

#myCanvas.mirrored {
    transform: scaleY(-1);
}

/* Кнопка настроек */
.settings-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.settings-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Панель настроек (шторка) */
.settings-panel {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #222;
    color: whitesmoke;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.9s;
    padding: 20px;
    border-radius: 8px 0 0 8px;
}

.settings-panel.open {
    right: 0;
}

.settings-panel h2 {
    margin-bottom: 10px;
    color: whitesmoke;
}

.settings-panel p {
    font-size: 1rem;
    line-height: 1.5;
}

#threshold {
    width: 100%;
    margin-top: 10px;
}

#thresholdValue {
    color: whitesmoke;
    font-weight: bold;
}

.mute-button {
    position: absolute;
    top: 20px;
    right: 140px; /* Смещена рядом с кнопкой настроек */
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mute-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
